<%- include('../../partials/header.ejs')  %> 
<%- include('../../partials/navbar.ejs')  %> 
<body>
    <div class="container mb-5">
        <div class="card mt-5">
            <div class="card-header bg-dark text-white text-center">
                <h2>Login</h2>
            </div>
            <div class="card-body">
                <form action="/authenticate" method="POST">
                    <input type="email" name="email" placeholder="email@exemple.com" class="form-control mb-3">
                    <input type="password" name="password" placeholder="***********" class="form-control">
                        <button class="btn btn-success mt-3 btn-block">Login</button>
                </form>
            </div>
        </div>
    </div>
</body>

<%- include('../../partials/footer.ejs') %> 